---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div>
  title?? <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, error
    impedit adipisci, ipsa odit eaque similique praesentium itaque sed beatae
    animi at incidunt quasi dolorum necessitatibus, ipsam rem id expedita.
  </p>:"no hay "
</div>

<style>
  div {
    background-color: black;
    width: 60%;
    margin: 0 auto;
  }
</style>
