---
import Input from "../components/Input.astro";
import Poesia from "../components/Poesia.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="header">
      <section>
        <h1 class="text-gradient">POET-IA</h1>
        <p>Generación Automática de Poemas</p>
        <p>
          POET-AI: GENERACIÓN AUTOMÁTICA DE POEMAS UTILIZANDO REDES NEURONALES
          RECURRENTES EN MODELO LSTM
        </p>
      </section>
      <picture>
        <img src="../../public/robot.png" alt="Robot ia " />
      </picture>
    </div>
    <Input />
    <Poesia />
  </main>
</Layout>

<style>
  .header {
    display: flex;
    height: 65vh;
    justify-content: center;
    align-items: center;
  }
  main {
    margin: auto;
    width: 950px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    height: 100%;
  }

  .text-gradient {
    font-size: 5rem;
    font-weight: 900;
    line-height: 1;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    background-position: 10%;
  }
  p {
    color: #8b73e1;
    font-weight: bold;
  }
  picture {
    position: relative;
    height: 20em;
  }
  picture::after {
    position: absolute;
    content: "";
    background-color: #43404077;
    width: 70%;
    height: 0.2em;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 5px #0005;
  }
  img {
    width: 20em;
    -webkit-animation: move 2s infinite alternate-reverse
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: move 2s infinite alternate-reverse
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes move {
    0% {
      transform: translateY(20px);
    }
    25% {
      transform: rotate(5deg);
    }
    100% {
      transform: translateY(-20px);
    }
  }
</style>
